<?xml version="1.0"?>
<config>
    <modules>
        <Saleswarp_Oms>
            <version>0.1.2</version>
        </Saleswarp_Oms>
    </modules>
	<frontend>
		<routers>
			<oms>
				<use>standard</use>
				<args>
					<module>Saleswarp_Oms</module>
					<frontName>customapi</frontName>
				</args>
			</oms>
		</routers>
	</frontend>
    <global>
        <helpers>
            <oms>
                <class>Saleswarp_Oms_Helper</class>
            </oms>
        </helpers>
        <blocks>
            <oms>
                <class>Saleswarp_Oms_Block</class>
            </oms>
        </blocks>
		<resources>
			<oms_setup>
				<setup>
					<module>Saleswarp_Oms</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</oms_setup>
			<oms_write>
				<connection>
					<use>core_write</use>
				</connection>
			</oms_write>
			<oms_read>
				<connection>
					<use>core_read</use>
				</connection>
			</oms_read>
		</resources>
		<models>
            <oms>
                <class>Saleswarp_Oms_Model</class>
            </oms>
            <catalog>
                <rewrite>
                    <product_api>Saleswarp_Oms_Model_Catalog_Product_Api</product_api>		
                </rewrite>
            </catalog>
        </models>
		<fieldsets>
    		 <sales_convert_quote_payment>
    		 	<transction_no>
    		 		<to_order_payment>*</to_order_payment>
    		 	</transction_no>
    		 	<payment_method>
    		 		<to_order_payment>*</to_order_payment>
    		 	</payment_method>
    		 </sales_convert_quote_payment>
    	</fieldsets>
    </global>
	<default>
        <payment>
            <saleswarp>
                <active>1</active>
                <model>oms/saleswarp</model>
                <order_status>processing</order_status>
                <title>Saleswarp Payment</title>
                <message>Used for Orders created in Saleswarp.</message>
            </saleswarp>
         </payment>
    </default>
    <admin>
        <routers>
            <oms>
                <use>admin</use>
                <args>
                    <module>Saleswarp_Oms</module>
                    <frontName>admin_oms</frontName>
                </args>
            </oms>
        </routers>
    </admin>
</config>